<div style="height: 100%;display: flex;">
  <div style="display: block;width: 300px;">
    <p>
      当前播放: {{shoes.selectedOptions.hasValue() ? shoes.selectedOptions.selected[0].value : '无'}}
    </p>
    <mat-selection-list
      #shoes
      [multiple]="false"
      (selectionChange)="change($event)"
      style="overflow-y: scroll;height: 100%;"
    >
      @for (video of videos; track video) {
      <mat-list-option [value]="video">{{video}}</mat-list-option>
      }
    </mat-selection-list>
  </div>
  <div
    id="player"
    #player
  ></div>

</div>
